[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-cors = "*"
flask-restx = "*"
install = "*"
werkzeug = "==2.1.2"
nltk = "*"
requests = "*"
wget = "*"
sense2vec = "*"
sentence-transformers = "*"
pandas = "*"
python-levenshtein = "==0.12.0"
strsim = "*"
allennlp = "*"
spacy = "*"
allennlp-models = "*"
tensorflow = "*"
transformers = "*"
datasets = "*"
pytorch-lightning = "*"
sentencepiece = "*"
tokenizers = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.8"
